[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "docsource/nptsnedoc"]
	path = docsource/nptsnedoc
	url = https://github.com/biovault/nptsnedoc
	branch = feature/1.1.0-hsne
