include README.md LICENSE.txt
recursive-include src *.cpp *.h
recursive-include src/nptsne *.py
recursive-include src/nptsne *.pyi
include src/nptsne/_version.txt
include src/nptsne/_full_version.txt
include src/nptsne/py.typed
