alabaster==0.7.12
astroid==2.3.3
attrs==19.1.0
autopep8==1.5.2
Babel==2.8.0
backcall==0.1.0
bleach==3.1.0
bottle==0.12.18
certifi==2019.3.9
chardet==3.0.4
click==7.1.2
cmake==3.17.2
colorama==0.4.1
conan==1.25.2
cycler==0.10.0
decorator==4.4.0
defusedxml==0.6.0
deprecation==2.0.7
distro==1.1.0
docutils==0.16
entrypoints==0.3
fasteners==0.15
future==0.18.2
h5py==2.10.0
idna==2.9
imageio==2.6.1
imagesize==1.2.0
ipykernel==5.1.0
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.21
jedi==0.13.3
Jinja2==2.10.1
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
kiwisolver==1.0.1
lazy-object-proxy==1.4.3
llvmlite==0.28.0
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.0.10
mkl-random==1.0.2
monotonic==1.5
nbconvert==5.5.0
nbformat==4.4.0
networkx==2.4
node-semver==0.6.1
notebook==5.7.8
nptsne===1.1.0-hsne
numba==0.43.1
numpy==1.18.5
numpydoc==1.0.0
packaging==20.4
pandas==1.0.3
pandocfilters==1.4.2
parso==0.4.0
patch-ng==1.17.4
pickleshare==0.7.5
Pillow==7.0.0
pluginbase==0.7
prometheus-client==0.6.0
prompt-toolkit==2.0.9
pycodestyle==2.6.0
Pygments==2.3.1
PyJWT==1.7.1
pylint==2.4.4
pynrrd==0.4.2
pyparsing==2.4.0
PyQt5==5.13.0
PyQt5-sip==12.7.2
pyqt5-tools==5.13.0.1.5
pyrsistent==0.14.11
python-dateutil==2.8.0
python-dotenv==0.13.0
pytz==2019.1
PyWavelets==1.1.1
pywin32==227
pywinpty==0.5.5
PyYAML==5.3.1
pyzmq==18.0.0
qtconsole==4.4.3
requests==2.23.0
scikit-build==0.11.1
scikit-image==0.16.2
scikit-learn==0.20.3
scipy==1.2.1
Send2Trash==1.5.0
six==1.12.0
snowballstemmer==2.0.0
Sphinx==3.0.4
sphinx-rst-builder==0.0.3
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
terminado==0.8.2
testpath==0.4.2
toml==0.10.1
tornado==6.0.2
tqdm==4.46.1
traitlets==4.3.2
typed-ast==1.4.1
umap-learn==0.3.10
urllib3==1.25.9
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
wincertstore==0.2
wrapt==1.11.2
